<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
            <h1>{{ AHM531 }}</h1>
            <p>{{Welcome to my personal website}}</p>
            <!--Navigation Bar-->
            <nav class="navbar">
                <ul>
                {% for items in site.navbar%}
                    <li><a href="{{item.link}}">{{item.name}}</li>
                    {% endfor %}
                </ul>
            </nav>
    </header>

    <main>
        {{ content }}
    </main>

</body>
</html>
